@charset "utf-8";

/*RESET
----------------------*/
* {
	margin: 0;
	padding: 0;
}

/*----------------------*/

body{
	background-color:#C5E5D7;/*背景*/
	text-align:center;
	color:#74630B;
	}

canvas{
	margin:10px;
	background:#FFFFFF;
}

#photo {
	position: relative;
}

#photo canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#photo #image {
	z-index: 0;
	background: #FFFFFF;
}

#photo #frame {
	z-index: 10;
	background: rgba(0, 0, 0, 0);
}

#photo #timestamp {
	z-index: 20;
	background: rgba(0, 0, 0, 0);
}
